[submodule "lib/firmware/bipropellant-hoverboard-api"]
	path = lib/firmware/bipropellant-hoverboard-api
	url = https://github.com/bipropellant/bipropellant-hoverboard-api
[submodule "lib/firmware/mpu6050"]
	path = lib/firmware/mpu6050
	url = https://github.com/ElectronicCats/mpu6050
